<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back" size="large" (click)="ionViewCanLeave()"></ion-icon>
    <ion-title>MODAL</ion-title>
    <ion-icon slot="end" name="checkmark-sharp" size="large" (click)="salvar()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="flagPlaying==true; else gravar">
    {{this.objeto}}
    <video class="video" #video controls>
      <source type="video/mp4">
    </video>
  </div>

  <ng-template #gravar>

    <video class="video" #video autoplay playsinline muted ></video>

    <div class="buttonsAction" >
      <button  (click)="recording()">
        <ion-icon name="radio-button-on-outline" size="large"></ion-icon>
      </button>

      <button (click)="stoping()">
        <ion-icon name="stop-outline" size="large"></ion-icon>
      </button>  
    </div>
  </ng-template>


  
</ion-content>